<div class="col-md-10 offset-md-1">
  <h1>Partners of The Paw Button</h1>

  <nav>
    <%= link_to "Add Center", new_center_path, :class =>"index_nav" %>
  </nav>

  <div class="list-group">
    <% @centers.each do |center| %>
      <%= link_to center.name, center, :class =>"list-group-item" %>
    <% end %>
  </div>
</div>
