<div class="col-md-10 offset-md-1">
  <h1>Partners of The Paws Button</h1>

  <nav>
    <% if @current_user.present? %>
      <% if @current_user.admin? %>
        <%= link_to "Add Center", new_center_path, :class =>"index_nav" %>
      <% end %>
    <% end %>
  </nav>

  <div class="list-group">
    <% @centers.each do |center| %>
      <%= link_to center.name, center, :class =>"list-group-item" %>
    <% end %>
  </div>
</div>
