<div class="col-md-10 offset-md-1">
  <h1>All Animals</h1>

  <nav>
    <%= link_to 'Cats', animals_path(:animal_species => 'Cat'), :class =>"index_nav" %>
    <%= link_to 'Dogs', animals_path(:animal_species => 'Dog'), :class =>"index_nav" %>
    <%= link_to 'Add Animal', new_animal_path, :class => "index_nav" %>
  </nav>

  <% @animals.each do |animal| %>
    <%= link_to image_tag(animal.image, :class => 'thumb', :alt => animal.species), animal %>
  <% end %>
</div>
