// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_container {
  width: 1110px;
  height: 100vh;
  margin: 0;
  background: url(/assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home_message {
  width: 600px;
  height: 350px;
  background-color: rgba( 255, 255, 255, 0.5 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4em;
  color: #bbf11b;
}
